{include file="common/header"}
<style>
#addr{color:#fff;font-weight:bold;display:inline-block;font-size:16px;}
.imgs .show-image{margin:10px; width: 320px; height: 420px;} .img-text p{text-align:center;font-size:18px;font-weight:bold;}.img-text{width:320px;padding: 10px 0 7px;}.img-text a{color:#fff;}
</style>
        <div class="contentBox">
			<div class="list-tool">
					<button class="search" onclick="window.location.href='{:U('/photos/index')}';">全部</button>
					<form action="{:U('/photos')}" style="display:inline;">
						<select id="status" name="status" style="margin:0 2px;width:80px;"><option value="">审核状态</option><option value="0">待审核</option><option value="1">合格</option><option value="2">不合格</option></select>
						<select id="place" name="place" class="form-control type" style="margin:0 2px;width:70px;display:inline;"><option value="">管理所</option></select>
						<select id="station" name="station" class="form-control type" style="margin:0 2px;width:70px;display:inline;"><option value="">管理站</option></select>
						<select id="office" name="office" class="form-control type" style="margin:0 2px;width:80px;display:inline;"><option value="">维保单位</option></select>
						<select id="cs" name="cs" style="margin:0 2px;width:90px;"><option value="">所有工单</option><option value="1">重复工单</option><option value="0">非重复</option></select>
						<input style="margin:0 2px;width:160px;" value="{:I('addr')}" class="adress" type="text" placeholder="工单编号 / 地址" name="addr" />

						<input style="margin:0;width:100px;" value="{:I('start')}" class="tiem_put" id="start" name="start" placeholder="开始日期" readonly />
						<span>-</span>
						<input style="margin:0;width:100px;" value="{:I('end')}" class="tiem_put" id="end" name="end" placeholder="结束日期" readonly />
						<select id="status2" name="status2" style="width:80px;margin:0 2px;">
							<option value="">审核状态</option>
							<option value="0">待审核</option>
							<option value="1">合格</option>
							<option value="2">不合格</option>
						</select>
						<select name="ycode" style="width:90px;margin:0 2px;" id="ycode"><option value="">原始分类</option></select>
						<select name="type" style="width:90px;margin:0 2px;" id="fs2"><option value="">图片分类</option></select>
						<select id="matching" name="matching" style="width:70px;margin:0 2px;"><option value="">相似度</option><option value="30">≥30</option><option value="40">≥40</option><option value="50">≥50</option><option value="55">≥55</option><option value="60">≥60</option><option value="65">≥65</option><option value="70">≥70</option><option value="75">≥75</option><option value="80">≥80</option><option value="85">≥85</option><option value="90">≥90</option><option value="91">≥91</option><option value="92">≥92</option><option value="93">≥93</option><option value="94">≥94</option><option value="95">≥95</option><option value="96">≥96</option><option value="97">≥97</option><option value="98">≥98</option><option value="99">≥99</option></select>

						<button style="margin:0 2px;" class="search" type="submit">搜索</button>
					</form>
					<button style="margin:0 2px;" class="refresh" onclick="window.location.reload();">刷新</button>
            </div>{php}$status = ['待审核', '<span class="green">合格</span>', '<span class="red">不合格</span>'];{/php}
			
			
            <div class="tab-space">
                <table class="list-tab imgShow">
                    <tbody>
                        <tr>
                            <div class="imgs" style="margin-bottom:20px;">
							{foreach name="data" item="val"}
								<div class="show-image">
									<a target="_blank" href="/source/pics/{:date('Ym', strtotime($val.etime))}/{$val.oid}/{$val.filename}.{$val.extension}"><img src="/source/pics/{:date('Ym', strtotime($val.etime))}/{$val.oid}/{$val.filename}.{$val.extension}" alt="{$val.status ? $fs3[$val.code] : '待识别'}" title="{$val.id} {$val.matching} {$val.ycode} {$val.code}" /></a>
									<div class="img-text">
										<p>{$val.status ? $tmp['ycode'][$val.ycode] . ' <a target="_blank" code="'. $val.code .'">' . $fs3[$val.code] . '</a>' : '待审核'}</p>
									</div>
								</div>
							{/foreach}
							</div>
                        </tr>
                    </tbody>
                </table>
            </div>
			{$page}
        </div>
<script src="_STATIC_/js/plugins/layer/laydate/laydate.js"></script>
<script>
var tmp = {$tmp ? json_encode($tmp, 320) : '[]'}, st = '';
$(function(){
	//$('.h_orders').addClass('active');
	$.each(tmp, function(i, v){
		var h = '';
		$.each(v, function(i2, v2){
			if(i == 'station') st += '<option pid="'+ v2[2] +'" value="'+ v2[0] +'">'+ v2[1] +'</option>'; else h += '<option value="'+ i2 +'">'+ v2.replace('供水管理', '') +'</option>';
		});
		$('#'+i).append(h);
	});
	$('.page .current').css({'background': '#3251FF'});
	//$('.page .page-li.page-num.current').css({'padding': '0 10px'});
	$('.page .page-li').css('display', 'inline-block');
	$('.page .page-li input').css({'width':'50px', 'background':'#2B4563', 'border': '1px solid #7591BE', 'border-radius': '6px', 'display': 'inline-block', 'color': 'rgba(255,255,255,0.65)', 'margin-right': '5px'});
	$('.page .page-msg, .page ul').css('display', 'inline-block');
	$('.page .page-msg .rows').css({'font-size': '16px', 'background':'none'});
	var start={elem:"#start",format:"YYYY-MM-DD",max:'2028-05-01',min:"2020-10-01",istime:false,istoday:true,choose:function(datas){end.min=datas;end.start=datas}};
	var end={elem:"#end",format:"YYYY-MM-DD",max:'2028-05-01',min:"2020-10-01",istime:false,istoday:true,choose:function(datas){start.max=datas}};
	laydate(start);laydate(end);
	$('#cs').val('{:I('cs')}');
	$('#fs2').append('<option value="1">其它</option>').val('{:I('type')}');
	$('#status').val('{:I('status')}');
	$('#status2').val('{:I('status2')}');
	
	function sst(pid){
		$('#station').append(st);
		$('#station option').each(function(){
			if($(this).val() != '' && $(this).attr('pid') != pid) $(this).remove();
		});
		$('#station').val('');
	}
	$('#place').val('{:I('place')}').change(function(){
		sst($(this).val());
	});
	sst('{:I('place')}');
	$('#station').val('{:I('station')}');
	$('#office').val('{:I('office')}');
	$('#matching').val('{:I('matching')}');
	$('#ycode').val('{:I('ycode')}');
});
	$('a[code]').each(function(){
		code = parseInt($(this).attr('code'));
		$(this).attr('href', '{:U('/tools/mt');}?type='+ ($.inArray(code, [4000, 4101, 4201]) > -1 ? 2 : 1) +'&file=' + $(this).parents('.show-image').find('img').attr('src'));
	});
</script>
{include file="common/footer"}