{include file="common/header"}
<style>
#table thead td{font-size:14px;font-weight:bold;}
#table tbody td{font-size:14px;}
#table tbody td a{color: #C0C9E1;}
-#table .img-type p a{background-color: rgba(236, 177, 75, 0.2);color: #ECB14B;}
#table .img-type p{margin:3px 5px;}
#table .img-type p.type-bg{background-color: rgba(51, 190, 139, 0.3);}
#table .img-type p.type-bb{background-color: rgba(240, 240, 12, 0.5);}
#table .img-type p.type-bg a{color: #34C38F;}
#table .img-type p.type-br{background-color: rgba(255, 0, 0, 0.3);}
#table .img-type p.type-br a{color: #e32929;}
.page{padding-bottom:20px;}
#table .zd{display:inline-block;background-color: #3251ff;padding:2px 5px;margin-right:5px;cursor:pointer;}
.ddd{}
.contentBox{height:calc(100vh - 93px) !important;}
</style>
        <div class="contentBox">
            <div class="list-tool">
					<button id="fh" style="display:none;margin:0 -18px 0 20px;" class="search" onclick="location.href='{$Think.session.oindex}';"><<返回母单</button>
					<button class="search" onclick="window.location.href='{:U('/orders/index', ['type'=>I('type'), 'status'=>I('status'), 'fyid'=>I('fyid')])}';">全部</button>
					<form action="{:U('/orders')}" style="display:inline;">
						<input type="hidden" name="fyid" value="{:I('fyid')}">
						<select id="type" name="type" style="margin:0 2px;width:80px;"><option value="" disabled>类型</option><option value="0">母单</option><option value="1">子单</option></select>{if condition="$Think.session.user.gtype eq 0"}
						<select id="ztype" name="ztype" style="margin:0 2px;width:80px;" disabled><option value="">全部</option><option value="0">公共项</option><option value="1">子项</option></select>{/if}
						<select id="status" name="status" style="margin:0 2px;width:80px;"><option value="">全部</option><option value="0">待审核</option><option value="1">合格</option><option value="2">不合格</option></select>
						<!--<select id="gdtype" name="gdtype" style="margin-left:10px;width:90px;"><option value="">作业类型</option></select>-->
						<select id="place" name="place" class="form-control type" style="margin:0 2px;width:140px;display:inline;"><option value="">管理所</option></select>
						<select id="station" name="station" class="form-control type" style="margin:0 2px;width:90px;display:inline;" disabled><option value="">管理站</option></select>
						<select id="office" name="office" class="form-control type" style="margin:0 2px;width:90px;display:inline;"><option value="">维保单位</option></select>
						<select id="cs" name="cs" style="margin:0 2px;width:90px;"><option value="">所有工单</option><option value="1">重复工单</option><option value="0">非重复</option></select>
						<input style="margin:0 2px;width:160px;" value="{:I('addr')}" class="adress" type="text" placeholder="工单编号 / 地址" name="addr" />

						<input style="margin:0;width:100px;" value="{$start}" class="tiem_put" id="start" name="start" placeholder="开始日期" readonly />
						<span>-</span>
						<input style="margin:0;width:100px;" value="{$end}" class="tiem_put" id="end" name="end" placeholder="结束日期" readonly />

						<button style="margin:0 2px" class="search" type="submit">搜索</button>
					</form>
                    {if I('type') != 1}
                    <button style="margin:0 2px" class="" type="button" onclick="download()">下载</button>
                    {/if}
					<button style="margin:0 2px;" class="refresh" onclick="window.location.reload();">刷新</button>
                </div>
            <div class="tab-space">
                <!--<p class="title-page">共<span>41356</span>条记录&nbsp;&nbsp;&nbsp;&nbsp;1655页</p>-->
                <table class="list-tab" id="table">{if $otype}
                    <thead>
                        <tr>
                            <td width="25%">工单编号/日期/地址</td>
                            <td width="10%">办事处/作业类型</td>
                            <td width="10%">图片总数/重复数</td>
                            <td width="50%">图片分类</td>
                            <td width="5%">结果</td>
                        </tr>
                    </thead>
                    <tbody>{php}$status = ['<div class="tab-state stay">待审核</div>', '<div class="tab-state">合格</div>', '<div class="tab-state pass-no">不合格</div>'];{/php}
					{foreach name="data" item="val"}
                        <tr>
                            <td><a href="{:U('/orders/detail', ['id'=>$val.id])}"><span>{$val.gid}   {:substr($val.etime, 0, 10)}</span></a><!--{if !$val.type}<span class="zd" onclick="location.href='{:U('/orders/index', ['fyid'=>$val.fyid])}'">子单</span>{/if}--><a href="{:U('/orders/detail', ['id'=>$val.id])}" title="{$val.addr}">{:mb_cut($val.addr, 50)}</a></td>
                            <td><div class="text-row"><span>{$tmp['place'][$val.place]}</span>{$tmp['station'][$val.station][1]} {$tmp['office'][$val.office]}</div></td>
                            <td style="font-size:16px;"><a class="ps" href="{:U('/orders/detail', ['id'=>$val.id])}">-</a> / <a href="{:U('/likes/index', ['addr'=>$val.gid])}" class="cf">{$val.status ? $val.cs : '-'}</a></td>
                            <td><div class="img-type" data-ks="{$val.ks}" data-rs="{$val.rs}" data-id="{$val.id}" data-type="{$val.type}"></div></td>
                            <td>{$status[$val.status]}{if $val.cs}<div class="tab-state pass-no" style="margin-top:5px;">重复</div>{/if}</td>
                        </tr>
					{/foreach}
                    </tbody>{else}
                    <thead>
                        <tr>
                            <td width="10%">工单编号</td>
                            <td width="8%">日期</td>
                            <td>地址</td>
                            <td width="10%">管理所</td>
                            <td width="6%">管理站</td>
                            <td width="6%">维保单位</td>
                            <td width="5%">工单数</td>
                            <td width="5%">合格单</td>
                            <td width="5%">重复单</td>
                        </tr>
                    </thead>
                    <tbody>
					{foreach name="data" item="val"}
                        <tr>
                            <td><a href="{:U('/orders/index', ['fyid'=>$val.yid])}">{$val.gid}</a></a></td>
                            <td>{:substr($val.etime, 0, 10)}</td>
                            <td class="ddd" title="【{$val.village}】{$val.village_addr}">{:mb_cut('【'. $val.village .'】' . $val.village_addr, 50)}</td>
                            <td>{$tmp['place'][$val.place]}</td>
                            <td>{$tmp['station'][$val.station][1]}</td>
                            <td>{$tmp['office'][$val.office]}</td>
                            <td>{$val.s[0]}</td>
                            <td>{$val.s[1]}</td>
                            <td>{$val.s[2]}</td>
                        </tr>
					{/foreach}
                    </tbody>{/if}
                </table>
            </div>
			{$page}
        </div>
<script src="_STATIC_/js/plugins/layer/laydate/laydate.js"></script>
<script>

function download(){
    location.href= '{:U(\'/orders/download\', [\'start\'=>$start, \'end\'=>$end, \'place\'=>I(\'place\'), \'station\'=>I(\'station\'), \'office\'=>I(\'office\'), \'addr\'=>I(\'addr\'), \'cs\'=>I(\'cs\'), \'start\'=>I(\'start\'), \'end\'=>I(\'end\')   ])}' ;
}

var tmp = {$tmp ? json_encode($tmp, 320) : '[]'}, fs6 = {$fs6 ? json_encode(array_values($fs6), 320) : '[]'}, yps = {$yps ? json_encode($yps, 320) : '[]'}, param = {:json_encode(input('param.'), 320)}, cs = [], ctpl = ['', ''], st = '';
console.log(fs6);
$(function(){
	$('.h_orders').addClass('active');
	$.each(tmp, function(i, v){
		var h = '';
		$.each(v, function(i2, v2){
			if(i === 'station') st += '<option pid="'+ v2[2] +'" value="'+ v2[0] +'">'+ v2[1] +'</option>'; else h += '<option value="'+ i2 +'">'+ v2 +'</option>';
		});
		$('#'+i).append(h);
	});
	$.each(fs6, function(t, f){
		ctpl[f.type] += '<p class="type-br"><a href="{:U('/orders/detail')}?type='+ f.id +'&id=#####">'+ f.name +'(<c class="c'+ f.id +'">0</c>)</a></p>';
	});


    // 扩展分类
    var extps = {'39': {title: '供水服务代表', pcid: 99}, '42': {title: '固定采样箱内部', pcid: 98}};
    var extkeys = Object.keys(extps);

    for(var i=0; i < extkeys.length; i++) {
        var ekey = extkeys[i]
        ctpl[1] += '<p><a href="{:U('/orders/detail')}?type='+extps[ekey].pcid+'&id=#####" title="">' + extps[ekey].title + '(<c class="c00'+ ekey +'">0</c>)</a></p>';
    }

    // 增加其他分类
    ctpl[1] += '<p><a href="{:U('/orders/detail')}?type=0&id=#####" title="">其它(<c class="c0">0</c>)</a></p>';

	console.log('extkeys', extkeys);
	$('.img-type').each(function(){
		var _t = $(this), r = '' + _t.data('rs'), k = '' + _t.data('ks'), rs = r.split(','), ks = k.split(','), ps = 0;
		_t.append(ctpl[parseInt(_t.data('type'))].replace(new RegExp('#####', "gm"), _t.data('id')));
        // console.log("img-type", r);

        // 工单扩展分类
        var extvals = {'39': 0, '42': 0};

		if(r !== ''){
            // 分类图片数量
            $.each(rs, function(i1, v1){
                vs = v1.split(':');
                cc = parseInt(vs[1]);
                ps += cc;
                tps = _t.find('.c'+yps[vs[0]]);
                if(extkeys.indexOf(vs[0]) > -1){

                    console.log(">> find extkey ", vs[0], "==", cc)
                    extvals[vs[0]] = cc;
                }

                // 如果不在分类中则为其它(c0),数量递增1
                tps = tps.length ? tps : _t.find('.c0');

                console.log(_t.data('id'), ">>>>  ", cc, tps.text())

                // 每个小类数量递增
                // console.log("vs==", vs[0])
                tps.text(cc + parseInt(tps.text()));
            });
        }
        console.log(_t.data('id'), "==", extvals)
        for(var i=0; i < extkeys.length; i++){
            var ekey = extkeys[i]
            console.log("extp", ekey)

            var tk = _t.find('.c00'+ekey);
            if(extvals[ekey] === 0){
                tk.parent().parent().hide();
            }else{
                tk.text(extvals[ekey]).parent().parent().removeClass('type-br').addClass('type-bb');
            }
        }

		if(k !== ''){
            // 如果合格，背景色为绿色
            $.each(ks, function(i1, v2){
                _t.find('.c'+v2).parent().parent().removeClass('type-br').addClass('type-bg');
            });
        }
        // 显示工单总图片数/重复数
		_t.parent().parent().find('.ps').text(ps);
	});
	$('.page .current').css({'background': '#3251FF'});
	//$('.page .page-li.page-num.current').css({'padding': '0 10px'});
	$('.page .page-li').css('display', 'inline-block');
	$('.page .page-li input').css({'width':'50px', 'background':'#2B4563', 'border': '1px solid #7591BE', 'border-radius': '6px', 'display': 'inline-block', 'color': 'rgba(255,255,255,0.65)', 'margin-right': '5px'});
	$('.page .page-msg, .page ul').css('display', 'inline-block');
	$('.page .page-msg .rows').css({'font-size': '16px', 'background':'none'});
	var start={elem:"#start",format:"YYYY-MM-DD",max:'2028-05-01',min:"2020-10-01",istime:false,istoday:true,choose:function(datas){end.min=datas;end.start=datas}};
	var end={elem:"#end",format:"YYYY-MM-DD",max:'2028-05-01',min:"2020-10-01",istime:false,istoday:true,choose:function(datas){start.max=datas}};
	laydate(start);laydate(end);
	$('#cs').val('{:I('cs')}');
	$('#type').val('{:I('type')}').change(function(){
		if($(this).val() == '1') $('#ztype').removeAttr('disabled'); else $('#ztype').attr('disabled', 'disabled');
	});
	$('#ztype').val('{:I('ztype')}');
	$('#status').val('{:I('status')}');
	//$('#gdtype').val('{:I('gdtype')}');

	function sst(pid){
		if(pid == '') $('#station').attr('disabled', 'disabled'); else $('#station').removeAttr('disabled');
		$('#station').append(st);
		$('#station option').each(function(){
			if($(this).val() != '' && $(this).attr('pid') != pid) $(this).remove();
		});
		$('#station').val('');
	}
	$('#place').val('{:I('place')}').change(function(){
		sst($(this).val());
	});
	sst('{:I('place')}');
	$('#station').val('{:I('station')}');
	$('#office').val('{:I('office')}');
	$('c').each(function(){
		if(parseInt($(this).text()) == 0) $(this).parent().removeAttr('href');
	});
	$('.cf').each(function(){
		if(parseInt($(this).text()) == 0) $(this).removeAttr('href');
	});
	if('{:I('fyid')}' != ''){
		$('#type, #place, #station, #office').remove();
		$('#fh').show();
	}
	if('{:I('type')}' == '1'){
		$('#ztype').removeAttr('disabled');
	}
	if('{$Think.session.user.type}' == 2){
		$('#place').hide();
		sst('{$Think.session.user.office}');
	}
	if('{$Think.session.user.type}' == 3){
		$('#place').hide();
		$('#station').hide();
	}{if !$otype}
	$('#status').remove();
	{/if}
});
</script>
{include file="common/footer"}
