{include file="common/header"}
<script src="_STATIC_/js/plugins/layer/layer.min.js"></script>
<div class="contentBox" style="height:auto">
    <div class="whole-bg">
            <div class="login-cent" style="margin:50px auto 0;padding-top:10px;padding-bottom:0;height:390px;">
                <h3 style="height:60px;line-height:60px;font-weight:bold">修改密码: {$Think.session.user.username} {$Think.session.suser.mobile}</h3>
                <div class="login-row" style="margin-top:10px">
                    <p>旧密码</p>
                    <input placeholder="请输入旧密码" id="password" type="password">
                </div>
                <div class="login-row" style="margin-top:20px">
                    <p>新密码</p>
                    <input placeholder="请输入新密码" id="newpassword" type="password">
                </div>
                <div class="login-row" style="margin-top:20px">
                    <p>确认密码</p>
                    <input placeholder="请再次输入新密码" id="newpassword1" type="password">
                </div>
                <div style="text-align:center;">
                    <button class="login-btn" style="display:inline-block;width:45%" onclick="qr()">确认</button>
                </div>
            </div>
    </div>
</div>
<script>
    function isStrongPassword(password) {
        // 密码至少包含大小写字母、数字和符号，并且长度至少为8位
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[A-Za-z\d\W]{8,}$/;
        return regex.test(password);
    }

    $(function(){
        $('.h_manager').addClass('active');
        $('.drop-down-content li a').each(function(index,item){if("密码设置"==item.innerHTML){item.className="active"}})
    });

    function qr() {
       var password = $("#password").val();
        var newpassword = $("#newpassword").val();
        var newpassword1 = $("#newpassword1").val();
        
        if (newpassword.length < 8 || !isStrongPassword(newpassword)) {
            layer.tips('密码必须包含大小写字母、数字、符号，并且长度至少为8位', '#newpassword');
            $('#newpassword').focus(); 
            return false;
        }

		if(!password){
            layer.tips('请输入原密码', '#password');
			$('#password').focus();
			return false;
		}
		if(!newpassword){
            layer.tips('请输入新密码', '#newpassword');
			$('#newpassword').focus();
			return false;
		}
		if(newpassword.length < 6){
            layer.tips('密码必须大于等于6位', '#newpassword');
			$('#newpassword').focus();
			return false;
		}
		if(!newpassword1){
            layer.tips('请再次输入新密码', '#newpassword1');
			$('#newpassword1').focus();
			return false;
		}
		if(newpassword != newpassword1){
            layer.tips('两次输入密码不一致', '#newpassword1');
			$('#newpassword1').focus();
			return false;
		}
        var salt = '2water';
        password = CryptoJS.MD5(password+salt).toString();
        newpassword = CryptoJS.MD5(newpassword+salt).toString();

        $.ajax({
            url:"?",
            type:"post",
            data:{password:password,newpassword:newpassword},
            dataType:"json",
            success:function (re) {
                alert(re["msg"]);
				if(re['code'] == 1)top.location.href='{:U('login')}';
            }
        })
    }

</script>
{include file="common/footer"}